# Admin login
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=

# MongoDB
# Example Atlas format:
# mongodb+srv://USERNAME:PASSWORD@cluster-name.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=
MONGODB_DB=tracmac
MONGODB_PRODUCTS_COLLECTION=products
